<!-- ****** Footer Social Icon Area End ****** -->
<footer class="footer_area" id="contactUs">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-4 align-center heading-container">
        <span class="section-heading">Get In Touch</span>
      </div>
    </div>


    <!-- CONTACT DETAILS SECTION STARTS -->
    <div class="row details-section">
      <!--<div class="col-sm-2"></div>-->
      <div class="col-sm-4 align-right single-icon">
        <a>
          <i class="fa fa-address-card pr70"></i>
          <p class="details">
            <span class="pr15">SCO 1A, First Floor</span>
            <span>Sector 7-C, Chandigarh</span>
            <span class="pr70">160019</span> 
          </p>
        </a>
      </div>
      <!--<div class="col-sm-1"></div>-->
      <div class="col-sm-4 align-center single-icon">
        <a>
          <i class="fa fa-phone"></i>
        <p class="details">
           <span>+91 8629813913</span>
           <span>+91 82198 29881</span>
        </p>
        </a>
      </div>
      <!--<div class="col-sm-1"></div>-->
      <div class="col-sm-4 align-left single-icon pull-right-30">
        <a>
          <i class="fa fa-envelope pl110"></i>
          <a class="email-id" href="mailto:amodiniadvertising@gmail.com">
              amodiniadvertising@gmail.com
          </a>
        </a>
      </div>
      <!--<div class="col-sm-2"></div>-->
    </div>
    <!-- CONTACT DETAILS SECTION ENDS -->

    <hr/>


    <!-- SOCIAL ICONS SECTION STARTS -->
    <div class="row footer-social-area d-flex justify-content-center">
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-facebook social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-twitter social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-google-plus social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-linkedin-square social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-instagram social-icons" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-1 align-center social-icon">
        <a><i class="fa fa-youtube-play social-icons" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- SOCIAL ICONS SECTION ENDS -->

  </div>

  <div class="copyright">
    &copy; 2018 AmodiniAdvertising.com
  </div>



</footer>