<div class="about container" id="aboutUs">
  <div class="container text-center heading-container">
    <span class="section-heading alternate-heading">About Amodini</span>
  </div>

  <div class="about-us-details">
    <p>
      <b>Amodini</b> is a Sanskrit word meaning <i>Joyful</i> or <i>Pleasurable</i>. Name Amodini is a Feminine (or Girl)
      name.
    </p>
    <p>
      Today, opportunities need to be explored and realized in the right way to achieve success. Our story has infinite tangents,
      and new horizons beckon us with every new chapter that we write.
    </p>
    <!--<p>
      It has been this insight and meticulous grounding that positions us today as one of the renowned advertising agencies and
      makes our work stand out.
    </p>
    <p>
      So far, our key endeavours have been directed towards creating tangible and intangible assets that cultivate relationships
      and promote mutual development across all media verticals. Staying ahead of the curve has been a part of our DNA which
      reflects in the unprecedented success we have achieved in all domains of communication- Creative, PR, Print, Digital,
      Media Buying, Events.
    </p>-->
    <p>
      Our specialized service arm caters to all facets of a business enterprise development and maintenance, which include Marketing,
      Media Planning, Print Advertising, Website Designing, Digital Marketing and TV Advertising. Our team works for the
      same, helps the client grow & become profitable.
    </p>
  </div>

</div>


<!--<div class="row stats-row">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
        </div>
      </div>

      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
        </div>
      </div>
    </div>-->


<div class="parallax">
  <div class="container text-center ptm heading-container">
    <span class="section-heading">Our Mission</span>
  </div>
  <div class="container ptm">
    <p class="font-italic mission">
              Delivering result-oriented brand marketing programs and public relation campaigns that enhance our clients’ awareness, improve their sales and foster their growth.
      
    </p>
  </div>
</div>