<div class="team" id="ourTeam">
  <div class="container">
    <div class="container text-center heading-container">
      <span class="section-heading alternate-heading">Meet Our Team</span>
    </div>

    <div class="desc">
      We are the Amodini. We are the thinkers and doers of mighty things. No matter of the title or role assigned, we are creatively led and strategically driven. Our mantra is to keep striving for individual as well as team’s excellence.
    </div>

    <div class="row justify-content-center mbl">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="../../assets/img/dilip.jpg">
          <div class="card-title-wrap">
            <span class="card-title">Dalip Rathore</span> <span class="card-text">CEO</span>
          </div>

          <div class="team-over">
            <h4 class="hidden-md-down">
              Connect with me
            </h4>

            <nav class="social-nav">
              <a><i class="fa fa-twitter"></i></a>
              <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-linkedin"></i></a>
              <a><i class="fa fa-envelope"></i></a>
            </nav>

            <!--<p>
              Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            </p>-->
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img set-img-height" src="../../assets/img/mnk.jpg">
          <div class="card-title-wrap">
            <span class="card-title">Monika Jamwal</span> <span class="card-text">Managing Director</span>
          </div>

          <div class="team-over">
            <h4 class="hidden-md-down">
              Connect with me
            </h4>

            <nav class="social-nav">
              <a><i class="fa fa-twitter"></i></a> <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-linkedin"></i></a> <a><i class="fa fa-envelope"></i></a>
            </nav>

            <!--<p>
              Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            </p>-->
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="../../assets/img/sunil.jpg">
          <div class="card-title-wrap">
            <span class="card-title">Sukhbir thakur</span> <span class="card-text">Designer</span>
          </div>

          <div class="team-over">
            <h4 class="hidden-md-down">
              Connect with me
            </h4>

            <nav class="social-nav">
              <a><i class="fa fa-twitter"></i></a> <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-linkedin"></i></a> <a><i class="fa fa-envelope"></i></a>
            </nav>

            <!--<p>
              Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            </p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>