<div id="ourServices">
	<!-- Container -->
	<div class="container">
		<div class="row ">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4 align-center heading-container">
				<span class="section-heading alternate-heading">What We Offer</span>
			</div>
		</div>
		<div class="mbl">
			<!-- Row 1-->
			<div class="row">
				<!-- 1 -->
				<div class="col-sm-4 ">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/magazine.png">
							</div>
							<div class="col-sm-9">
								<h3>Amodoni Magazine</h3>
							</div>
						</div>	
						<div class="row">
							<p class="text-justify">AMODINI is the company's offical magazine which is launched every fortnight and is distributed one to one by our executives
								for better growth of your business.</p>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="col-sm-4">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/radio.png">
							</div>
							<div class="col-sm-9">
								<h3>Radio Advertising</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">Radio's variety of formats allows you to pinpoint your advertising on the station(s) that best match our customers'
								interests. </p>
						</div>	
					</div>
				</div>
				<!-- 3 -->
				<div class="col-sm-4 ">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/transit.png">
							</div>
							<div class="col-sm-9">
								<h3>Transit Advertising</h3>
							</div>
						</div>	
						<div class="row">
							<p class="text-justify">We provide transit advertising services to place your advertisments on modes of public transportation or in public
								transportation areas.</p>
								<!--Radio is the reach and frequency medium you can afford. Ads can be placed anywhere from on the sides of buses, trains and taxis, inside bus stations and near train or bus platforms.-->
						</div>
					</div>
				</div>
			</div>
			<!-- 2nd row -->
			<div class="row">
				<!--7 -->
				<div class="col-sm-6">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/digital.png">
							</div>
							<div class="col-sm-9">
								<h3>Digital Marketing</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">From website and app designing to SEO(Seacrh Engine Optimization) and then Google AdWords, we provide you with everything
							for online promotion of your business.</p>
						</div>	
					</div>
				</div>
				<!--8 -->
				<div class="col-sm-6">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/outdoor.png">
							</div>
							<div class="col-sm-9">
								<h3>Outdoor Advertising</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">Out-of-home media advertising is advertising that reaches the consumers while they are outside their homes.We provide
							services like hoarding, boarding, branding ads etc.</p>
						</div>	
					</div>
				</div>
			</div>

			<!-- 3rd row -->
			<div class="row">
				<!-- 4 -->
				<div class="col-sm-4 ">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/news.png">
							</div>
							<div class="col-sm-9">
								<h3>Newspaper Advertising</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">Print your ads that run in local or national, daily or weekly news publications like The Tribune, Times of India, Divya
							Himachal, Punjab Kesari and many more.</p>
						</div>	
					</div>
				</div>
				<!--5 -->
				<div class="col-sm-4 ">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/tv.png">
							</div>
							<div class="col-sm-9">
								<h3>TV Advertising</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">Our TV advertising servies helps you put TV advertisement in local and domestic channels to conveys your message, typically
							to market a product or service.</p>
						</div>	
					</div>
				</div>
				<!-- 6 -->
				<div class="col-sm-4 ">
					<div class="service">
						<div class="row pbsm">
							<div class="col-sm-3">
								<img src="../../assets/img/1to1.png">
							</div>
							<div class="col-sm-9">
								<h3>One to One Marketing</h3>
							</div>
						</div>
						<div class="row">
							<p class="text-justify">One to one marketing focuses on customer relationship management (CRM) strategy emphasizing personalized interactions
							with customers to foster greater customer loyalty and better return on marketing investment.</p>
						</div>	
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-sm-4 ">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="white-text"><span class="counter">51</span></h3>
						<span class="white-text info-text">Happy clients</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="number">
						<i class="fa fa-file"></i>
						<h3 class="white-text"><span class="counter">1</span></h3>
						<span class="white-text info-text">Magazines Launched</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="number">
						<i class="fa fa-coffee"></i>
						<h3 class="white-text"><span class="counter">154</span></h3>
						<span class="white-text info-text">Cups of Coffee</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Numbers -->



</div>