<!-- Why Choose Us -->
<div id="chooseUs">

	<!-- Container -->
	<div class="container mbl">

		<div class="container text-center heading-container">
			<span class="section-heading alternate-heading">Why Choose Us</span>
		</div>

		<!-- Row -->
		<div class="row choose-us-desc">

			<!-- why choose us content -->
			<div class="col-sm-6 text-justify prsm">
				<p>Our specialized service arm caters to all facets of a business enterprise development and maintenance, which include
					Marketing, Media Planning, Print Advertising, Website Designing, Digital Marketing and TV Advertising.</p>
				<div class="row feature">
					<div class="col-sm-1">
						<i class="fa fa-check"></i>
					</div>
					<div class="col-sm-11">
						<p class="mb0">
							<span class="text-uppercase font-weight-bold font-italic">Attitude : </span>
							<span>To us, it's not just work - we take pride in the solutions we deliver. We encourage each other to achieve excellence in all endeavours </span>
						</p>
					</div>
				</div>
				<div class="row feature">
					<div class="col-sm-1">
						<i class="fa fa-check"></i>
					</div>
					<div class="col-sm-11">
						<p class="mb0">
							<span class="text-uppercase font-weight-bold font-italic">Approach : </span>
							<span>Our key endeavours have been directed towards creating tangible and intangible assets that cultivate relationships and promote mutual development across all media verticals</span>
						</p>
					</div>
				</div>
				<div class="row feature">
					<div class="col-sm-1">
						<i class="fa fa-check"></i>
					</div>
					<div class="col-sm-11">
						<p class="mb0">
							<span class="text-uppercase font-weight-bold font-italic">Passion : </span>
							<span> We aren't satisfied until projects meet our own personal high standards.</span>

						</p>
					</div>
				</div>
			</div>
			<!-- /why choose us content -->

			<!-- About slider -->
			<div class="col-sm-6 plsm margin-auto">
				<div id="demo" class="carousel slide carousel-outer" data-ride="carousel" c>

					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="carousel-image" src="../../assets/img/why-us1.jpg">
						</div>
						<!--<div class="carousel-item">
						<img class="carousel-image" src="../../assets/img/choose-us2.jpg" >
						</div>-->
						<div class="carousel-item">
							<img class="carousel-image" src="../../assets/img/why-us2.jpg">
						</div>
						<div class="carousel-item">
							<img class="carousel-image" src="../../assets/img/why-us3.jpg">
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
			<!-- /About slider -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->


	<div class="banner-section">
		<img alt="Amodini Banner" src="../../assets/img/amodini-banner.png">
	</div>

</div>
<!-- /Why Choose Us -->