
<!-- /Hero -->
<section class="hero">
  <div class="container ">
    <div>
      <div>
          <a class="logo" href="index.html" title="Home"><img alt="Admodini" src="../../assets/img/logo.png"></a>
      </div>
    </div>
  
    <div class="col-xs-12">
      <h1 class="heading-title">
        Amodini Advertising
      </h1>
      <p class="motto">
        working together happily...
      </p>

      <a class="btn btn-full" (click)="navigateToElement('aboutUs')">Explore Us</a>
    </div>
  </div>

</section>

<nav class="navbar navbar-expand-md sticky-top header">
  <!-- Brand -->
  <a class="navbar-brand " href="#">
    <img class="nav-logo" alt="Admodini" src="../../assets/img/logo.png">
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateToElement('aboutUs')">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateToElement('ourServices')">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateToElement('chooseUs')">Why Choose Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateToElement('ourTeam')">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateToElement('contactUs')">Contact Us</a>
      </li> 
    </ul>
  </div> 
</nav> 

<!-- Header -->
<!--<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="index.html"><img src="../../assets/img/logo-nav.png" alt="" title="" /></a>
    
      <<h1><a href="#hero">Bell</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#about">About Us</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li class="menu-has-children"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="menu-has-children"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

    <nav class="nav social-nav pull-right d-none d-lg-inline">
      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>      <a href="#"><i class="fa fa-envelope"></i></a>
    </nav>
    
  </div>
</header> -->
<!-- #header -->

